*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.container{
    border: 1px solid red;
    width: 1440px;
    height: 1024px;
}

.menu{
    border: 1px solid blue;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-left{
    /*border: 1px solid green;*/
    width: 246px;
    height: 24px;
}

#menu{
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

#youtube{
    width: 90px;
    height: 20px;
    margin-left: 20px;
}

.menu-center{
    border: 1px solid #cccccc;   
    display: flex; 
    width: 410px;
    height: 40px;
}

.search {
    border: 1px solid #cccccc;
    width: 360px;
}

.retangulo{
    border: 1px solid #cccccc;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lupa{
    width: 20px;   
}



main{
display: flex;
   height: 80%;
}

.left{
    /*background-color: aqua;*/
    width: 75%;
    
}

.right{
    /*background-color: blueviolet;*/
    width: 25%;   
}